### Project

*
!/.gitignore
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/env.php.*
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer*.json
!/composer*.lock
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README*.md
!/.github
!/.github/*
!/.gitlab
!/.gitlab-ci.yml
!/.gitlab/*
!/.gitlab/issue_templates/*
!/.gitlab/merge_request_templates/*
!/pub
!/pub/*/
!/pub/errors/**
!/pub/media/*/
!/pub/media/sales/*/
!/pub/media/sales/store/*/
!/pub/media/sales/store/logo/*.png
!/pub/sitemap/*/
.DS_Store
node_modules/
.vscode/
.idea/

### Docker
docker-compose.yml
Makefile
/docker/*
!.env.dist
